<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947442101511-5ivnrducjh68pv8r0oj57in9c1poudjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947442101511-5ivnrducjh68pv8r0oj57in9c1poudjj</string>
	<key>API_KEY</key>
	<string>AIzaSyAlwn-1GnQJtpG3yv6L-5hKYHT0vjTNsCs</string>
	<key>GCM_SENDER_ID</key>
	<string>947442101511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaddev.myloc</string>
	<key>PROJECT_ID</key>
	<string>locationtracking-893b8</string>
	<key>STORAGE_BUCKET</key>
	<string>locationtracking-893b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947442101511:ios:fced397ff737e174aca9a2</string>
</dict>
</plist>